<app-navigate></app-navigate>
<div class="row">
    <div class="col-md-5">

        <div class="card card-body">
            <form action="/add_contact" method="post">

                <div class="form-group">
                    <input type="text" name="router_id" [(ngModel)]="schedules.router_id" placeholder="Description" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" name="week_num" [(ngModel)]="schedules.week_num" placeholder="Year" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" name="from" [(ngModel)]="schedules.from" placeholder="Make" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" name="to" [(ngModel)]="schedules.to" placeholder="Capacity" class="form-control">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>router_id</td>
                <td>week_num</td>
                <td>from</td>
                <td>to</td>
                <td>Activo</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let schedule of schedule">
                <td>{{schedule.router_id}}</td>
                <td>{{schedule.week_num}}</td>
                <td>{{schedule.from}}</td>
                <td>{{schedule.to}}</td>
                <td>{{schedule.active}}</td>
                <td>
                    <a href="" class="btn btn-secondary">Edit</a>
                    <a href="" class="btn btn-danger btn-delete">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>