<app-navigate></app-navigate>
<br>
<div class="row">
    <div class="col-md-5">

        <div class="card card-body">
            <form action="/add_contact" method="post">

                <div class="form-group">
                    <h1>Creacion Drivers</h1>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="last_name" [(ngModel)]="driver.last_name " placeholder="last_name" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="first_name" [(ngModel)]="driver.first_name" placeholder="first_name" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="ssd" [(ngModel)]="driver.ssd" placeholder="Ssd" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="date" name="bod" [(ngModel)]="driver.dob" placeholder="Bod" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="address" [(ngModel)]="driver.address" placeholder="Address" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="city" [(ngModel)]="driver.city" placeholder="City" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="zip" [(ngModel)]="driver.zip" placeholder="Zip" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="number" name="phone" [(ngModel)]="driver.phone" placeholder="Phone" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <select class="form-select form-select-lg mb-3" name="active" [(ngModel)]="driver.active"  aria-label=".form-select-lg example" required>
                        <option selected>Selecione el estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Innactivo</option>
                      </select>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" (click)="guardarDrivers()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<br>
<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>last_name</td>
                <td>first_name</td>
                <td>ssd</td>
                <td>dob</td>
                <td>address</td>
                <td>city</td>
                <td>zip</td>
                <td>phone</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of drivers">
                <td>{{driver.last_name}}</td>
                <td>{{driver.first_name}}</td>
                <td>{{driver.ssd}}</td>
                <td>{{driver.dob}}</td>
                <td>{{driver.address}}</td>
                <td>{{driver.city}}</td>
                <td>{{driver.zip}}</td>
                <td>{{driver.phone}}</td>
                <td>
                    <a href="" class="btn btn-secondary">Edit</a>
                    <button class="btn btn-danger btn-delete" (click)="eliminarDrivers(driver.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>